*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans';
}


.contenedor{ 
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden  ;
}

.titulo{
    color: #FA8072;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/*Header*/ 
header{
    width: 100%;
    height: 600px;
    background:  #FC5C7D;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(230, 95%, 70%, 0.616), rgba(252, 90, 122, 0.582)), url(../imagenes/unnamed.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(230, 95%, 70%, 0.616), rgba(252, 90, 122, 0.582)), url(../imagenes/unnamed.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #FFFFFF;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{ 
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* cambiar el titulo a la izquierda o mas arriba*/
.textos-header h1{
    font-size: 50px;
    color: #FFFFFF;
}

.textos-header h2{
    font-size: 3 0px;
    font-weight: 300;
    color: #FFFFFF;
    
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*about us*/
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3 span{
    background: #C0392B ;
    color: #17202A ;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5); 
    margin-right: 5px;
    
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.NUESTROS-PRODUCTOS{
    background: #FDFEFE;

}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 10%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(6, 93%, 71%, 0.486);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #1c2833fb;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

.contenedor-footer{
    color: #17202A;
    text-align: center;
}